body{
	background-image: url(../images/bg.jpg);
	background-color: white;
	background-attachment: fixed;
	font-family: Helvetica, Arial, sans-serif;
	color: black;
	
}
.main{
	background-color: whitesmoke;
	opacity: 1;
	max-width: 600px;
	margin: 0 auto;
	padding: 5px 5px;
	border-radius:40px;
	box-shadow: 0px 0px 10px 10px white;
	/*          X   Y   BLUR SIZE COLOR*/
}

h1{
	font-family: 'Holtwood One SC', serif;
	color: Burlywood;
	text-align: center;
	font-size:40px;
	text-shadow: 0px 0px 20px white;
}

h2{
	text-align:center;
	font-weight:normal;
	text-transform: uppercase;
	letter-spacing:5px;
}

img{
	display:block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 100%;
	border:5px dotted Burlywood
;
	padding:5px;
	background-color: white;
}

/*Hide anything immediately after an h3*/
h3 + * {
	display:none;


}

h3:hover{
	text-decoration: underline;
	cursor:pointer;
}
h3{
	font-size: 25px;
	margin-left: 10px;
	color: Burlywood;
	margin-bottom: 0px;



}
p,
ul,
ol{
	
	line-height: 1,6;
	margin-left: 10px;
	list-style: none;
	padding-left:0;
}
p {
	text-align: justify;
}
a{
	font-weight: bold;
	color:black;
	text-decoration: underline;
}

a:hover{
	color:pink;
	text-decoration:underline;
}
/*This is a comment*/